export(DonchianG)
export(DonchianNperiods)
export(ZigZagLegs)
export(addEp)
export(addLeveleod)
export(addLevelfact)
export(addLevelfactIntrad)
export(addOrderfact)
export(addTrendfact)
export(addWfact)
export(addZigZagLegVo)
export(addZonefact)
export(addfVoep)
export(addscTrendfact)
export(addwVo)
export(chartEp)
export(chartLeveleod)
export(chartLevelfact)
export(chartLevelfactIntra)
export(chartOrderfact)
export(chartTrendfact)
export(chartWfact)
export(chartZigZagLegVo)
export(chartZonefact)
export(chartfVoep)
export(chartwVo)
export(copyLevelfact)
export(copyNFact)
export(copyTrendFact)
export(copyWfact)
export(crOrderFromrec)
export(crTradeFromrec)
export(defBpfact)
export(defBvfact)
export(defChan)
export(defHalfLevel)
export(defHfact)
export(defIceLevel)
export(defLevel)
export(defNobfact)
export(defTrend)
export(defWfact)
export(getChartDataPeriodicity)
export(getChartInstrumentName)
export(getChartOhlcData)
export(getChartSubsetOhlcData)
export(initOrderbook)
export(initOrderbookcsv)
export(initPorfolioParams)
export(initWstorybook)
export(lwl)
export(mkDummyTrade)
export(mkLimitOrder)
export(mkMarketOrder)
export(mkTrade)
export(mtrlchartdoc)
export(pickbar)
export(repopulateWstorybook)
export(rwl)
export(savedwwlistdefault)
export(wDict)
export(wGraphconf)
export(wstory)
export(wwlist)
export(wwlistfromdata)
export(zooomf)
export(zooompick)
exportClasses(Bpfact)
exportClasses(Bvfact)
exportClasses(Hfact)
exportClasses(Levelfact)
exportClasses(Nfact)
exportClasses(Order)
exportClasses(Orderbook)
exportClasses(Trade)
exportClasses(Trendfact)
exportClasses(Wfact)
exportClasses(Wstory)
exportClasses(Wstorybook)
exportClasses(Wwatchlist)
exportClasses(Zonefact)
exportMethods("addFact<-")
exportMethods("addWstory<-")
exportMethods("setActiveInstruments<-")
exportMethods("setChgDate<-")
exportMethods("setComment<-")
exportMethods("setCurtimeframe<-")
exportMethods("setEntry<-")
exportMethods("setFact<-")
exportMethods("setFillprice<-")
exportMethods("setFtarget<-")
exportMethods("setGraphconf<-")
exportMethods("setId<-")
exportMethods("setMarketdata<-")
exportMethods("setMtarget<-")
exportMethods("setOrderbook<-")
exportMethods("setQty<-")
exportMethods("setRdatfile<-")
exportMethods("setRegprice<-")
exportMethods("setShowRightDatetime<-")
exportMethods("setStatus<-")
exportMethods("setStop<-")
exportMethods("setStorybook<-")
exportMethods("setStratid<-")
exportMethods("setSubset<-")
exportMethods("setTaccount<-")
exportMethods("setTid<-")
exportMethods("setTincDate<-")
exportMethods("setTorders<-")
exportMethods("setTqty<-")
exportMethods("setTradeOrder<-")
exportMethods("setTrid<-")
exportMethods("setTstatus<-")
exportMethods("setType<-")
exportMethods("setWatchInstruments<-")
exportMethods("setWdict<-")
exportMethods("updStory<-")
exportMethods("updateStory<-")
exportMethods(addTradeOrder)
exportMethods(addWatchGroup)
exportMethods(addWatchInstrument)
exportMethods(apndFct)
exportMethods(appendStory)
exportMethods(attachOrdersFromrecset)
exportMethods(blotterPnl)
exportMethods(blotterPnl_bk)
exportMethods(bulkreplaceWyklabel)
exportMethods(bulkreplaceWyklbl)
exportMethods(calcInstrumentPnl)
exportMethods(calcInstrumentPosition)
exportMethods(calcPortfolioCash)
exportMethods(calcPortfolioEquity)
exportMethods(cancelOrder)
exportMethods(cancelTrade)
exportMethods(cc)
exportMethods(ccc)
exportMethods(ccd)
exportMethods(cci)
exportMethods(ccm)
exportMethods(ccs)
exportMethods(ccv)
exportMethods(ccw)
exportMethods(cfill)
exportMethods(changeDate)
exportMethods(check4trade)
exportMethods(checkFillOrder)
exportMethods(co)
exportMethods(crthelp)
exportMethods(ctotperf)
exportMethods(ctpnl)
exportMethods(dcdate)
exportMethods(delFact)
exportMethods(dmode)
exportMethods(dngpar)
exportMethods(eqtyAlloc4instrument)
exportMethods(eraseOrder)
exportMethods(eraseTrade)
exportMethods(fillOrder)
exportMethods(findTradeOrphanedOrders)
exportMethods(flipFctlbl)
exportMethods(flipbg)
exportMethods(genReport)
exportMethods(getActiveInstruments)
exportMethods(getArtiType)
exportMethods(getChgDate)
exportMethods(getColor)
exportMethods(getComment)
exportMethods(getCurinstrument)
exportMethods(getCurstory)
exportMethods(getCurtimeframe)
exportMethods(getCurtimefrequency)
exportMethods(getDfrequency)
exportMethods(getDunit)
exportMethods(getEntry)
exportMethods(getFact)
exportMethods(getFillprice)
exportMethods(getFtarget)
exportMethods(getFtargetRR)
exportMethods(getGraphconf)
exportMethods(getId)
exportMethods(getIncDate)
exportMethods(getIntraDate)
exportMethods(getLastupdatedstory)
exportMethods(getLlabel)
exportMethods(getLvlfacts)
exportMethods(getMarketdata)
exportMethods(getMtarget)
exportMethods(getMtargetRR)
exportMethods(getNextIdentity)
exportMethods(getNote)
exportMethods(getOaccount)
exportMethods(getOrderFromRec)
exportMethods(getOrderRec)
exportMethods(getOrderbook)
exportMethods(getOrdersattachedIds)
exportMethods(getOwndtime)
exportMethods(getOwndtimeStr)
exportMethods(getQty)
exportMethods(getRdatfile)
exportMethods(getRegprice)
exportMethods(getShortnoteOwndtime)
exportMethods(getSinstrument)
exportMethods(getSlabel)
exportMethods(getStatus)
exportMethods(getStop)
exportMethods(getStory)
exportMethods(getStorybook)
exportMethods(getStratid)
exportMethods(getSubset)
exportMethods(getTaccount)
exportMethods(getTechdt)
exportMethods(getTemptrade)
exportMethods(getTicker)
exportMethods(getTid)
exportMethods(getTincDate)
exportMethods(getTorders)
exportMethods(getTqty)
exportMethods(getTradeAvrgPrice)
exportMethods(getTradeFromRec)
exportMethods(getTradeLockedCash)
exportMethods(getTradeMtm)
exportMethods(getTradeMtmvalue)
exportMethods(getTradeOrder)
exportMethods(getTradeOrdersStatus)
exportMethods(getTradePosition)
exportMethods(getTradeRec)
exportMethods(getTradeRpnl)
exportMethods(getTradeUpnl)
exportMethods(getTradeWorkingOrders)
exportMethods(getTrid)
exportMethods(getTrlfacts)
exportMethods(getTstatus)
exportMethods(getTticker)
exportMethods(getType)
exportMethods(getWatchInstruments)
exportMethods(getWdict)
exportMethods(getWfacts)
exportMethods(getWfactsPeriod)
exportMethods(getWorkingOrders)
exportMethods(getZnfacts)
exportMethods(gi)
exportMethods(gif)
exportMethods(gin)
exportMethods(gip)
exportMethods(gis)
exportMethods(globalreplaceWyklbl)
exportMethods(gnd)
exportMethods(gndc)
exportMethods(gndcs)
exportMethods(gndfcs)
exportMethods(gnf)
exportMethods(gnm)
exportMethods(gnw)
exportMethods(hasOrdersattached)
exportMethods(inigpar)
exportMethods(initOrderbookBlotter)
exportMethods(initOrderdataframe)
exportMethods(initTradedataframe)
exportMethods(insOrderRec)
exportMethods(insTradeRec)
exportMethods(is.Wstory)
exportMethods(is.Wwatchlist)
exportMethods(isTradeProtected)
exportMethods(itcc)
exportMethods(itco)
exportMethods(itcs)
exportMethods(lpd)
exportMethods(lpm)
exportMethods(mergeArtifacts4story)
exportMethods(odadd)
exportMethods(odrm)
exportMethods(odw2m)
exportMethods(odwca)
exportMethods(odwmp)
exportMethods(odwmq)
exportMethods(ohelp)
exportMethods(openTrade)
exportMethods(pAfct)
exportMethods(pBfct)
exportMethods(pChn)
exportMethods(pHfct)
exportMethods(pHfl)
exportMethods(pIcl)
exportMethods(pLepr)
exportMethods(pLvl)
exportMethods(pNob)
exportMethods(pTrl)
exportMethods(pVfct)
exportMethods(pWfct)
exportMethods(pZon)
exportMethods(pd)
exportMethods(pdi)
exportMethods(persist)
exportMethods(persistMdata)
exportMethods(pliquid)
exportMethods(pmeta)
exportMethods(pptr)
exportMethods(prephelp)
exportMethods(prfp)
exportMethods(printDonchian)
exportMethods(printInstrGlpos)
exportMethods(printRR)
exportMethods(printStory)
exportMethods(printTrade)
exportMethods(printTrades)
exportMethods(printlatexStory)
exportMethods(printtStory)
exportMethods(procOrderFills)
exportMethods(ps)
exportMethods(psc)
exportMethods(pst)
exportMethods(removeTradeOrder)
exportMethods(rmFact)
exportMethods(rmOrderRec)
exportMethods(rmTradeRec)
exportMethods(rmWatchInstrument)
exportMethods(rmWstory)
exportMethods(rmdTail)
exportMethods(rmpFact)
exportMethods(setDailydataTZ)
exportMethods(setFactsTZ)
exportMethods(setIntraDate)
exportMethods(setOrdersTrid)
exportMethods(show)
exportMethods(stfd1)
exportMethods(stfh1)
exportMethods(stfw1)
exportMethods(stopIzon)
exportMethods(storeNextIdentity)
exportMethods(strTradeOrphanedOrders)
exportMethods(swLbl)
exportMethods(tdalim)
exportMethods(tdamkt)
exportMethods(tdastop)
exportMethods(tdatarg)
exportMethods(tdca)
exportMethods(tdck)
exportMethods(tdeqty)
exportMethods(tdp)
exportMethods(tdpl)
exportMethods(tdpt)
exportMethods(tdrm)
exportMethods(toOrderrecAslist)
exportMethods(toTraderecAslist)
exportMethods(trhelp)
exportMethods(uWfct)
exportMethods(upHfl)
exportMethods(upWfct)
exportMethods(updOrderRec)
exportMethods(updOrdersTradePosition)
exportMethods(updOrdersizeOpenposition)
exportMethods(updTradeOrder)
exportMethods(updTradeRec)
exportMethods(updTradeStatus)
exportMethods(upgpar)
exportMethods(wfhelp)
exportMethods(whelp)
exportMethods(wldhelp)
import(pmktdata)
